snippet front "Markdown metadata front matter"
---
title: $1
category: $2
date `!v strftime("%Y-%m-%d")`
author: MP Libunao
updated: `!v strftime("%Y-%m-%d")` 
tags: [$2, $3]
---
endsnippet

snippet 2x1 "2x1 table" b
| $1 | $2 |
|----|----|
|    |    |
endsnippet

snippet 3x1 "3x1 column table" b
| $1 | $2 | $3 |
|----|----|----|
|    |    |    |
endsnippet
